# vs code settings
.vscode/

# build folders
/[Bb]uild/
/[Bb]uilds/

# resources folder (binaries like test vids)
/[Rr]esource/
/[Rr]esources/

# folder for storing YOLO models
/model/

# doc folders
/[Dd]oc/
/[Dd]ocs/

# generated Doxyfile from template
Doxyfile

### C++ related ignores ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!libonnxruntime.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!libyaml-cpp.a

# Executables
*.exe
*.out
*.app

### OpenCV ###
#OpenCV for Mac and Linux
#build and release folders
*/CMakeFiles
*/CMakeCache.txt
*/Makefile
*/cmake_install.cmake
.DS_Store